.container {
    border: 1px solid grey;
    background-color: purple ;
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    box-shadow: 0 0 10px black;
}

.image {
    width: 130px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.buttonContainer button {
    background-color: lightcoral ;
    color: white;
    border: 0px;
    border-radius: 2px;
}

.dataContainer {
    text-align: center;
    padding: 10px;
}

.dataContainer h2 {
    margin: 2px;
    font-size: 16px;
    color: yellowgreen;
}

.dataContainer h3 {
    margin: 2px;
    font-size: 16px;
    color: lightgreen ;
}

.dataContainer h4 {
    margin: 2px;
    font-size: 16px;
    color: lightgreen ;
}

.dataContainer h5 {
    margin: 2px;
    font-size: 16px;
    color: lightgreen ;
}

.dataContainer h6 {
    margin: 2px;
    font-size: 16px;
    color: lightgreen ;
}